.background {
    width: 100vw;
    height: 100vh;
    background-image: url("/Custom/images/background.jpg");
}

.box {
    width: 70%;
    height: auto;
    border-radius: 12px;
}

h2 {
    margin-bottom: 40px;
}

.forgot {
    margin-top: 20px;
}

.form-control, .btn {
    border-radius: 20px;
}