.block_product {
    width: calc(100%-20px);
    position: relative;
    margin-bottom: 100px;
    height: 400px;
}

.product_sidebar a {
    text-decoration: none;
    color: rgb(36, 60, 61);
}

.product_sidebar a:hover li     {
    text-decoration: none;
    color: rgb(42, 218, 130);
    background-color: cadetblue;
}

.block_product_img {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 400px;
}

.block_product_img img {
    width: 100%;
    height: 400px;
}

.block_product_info {
    width: 100%;
}

.block_product_quickview {
    position: absolute;
    bottom: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }


  .block_product_img:hover .block_product_quickview {
    bottom: 20px;
}

.block_product_txt a {
    display: block;
    color: grey;
}
.block_product_txt span {
    display: block;
    color: grey;
}

.block_product_txt a:hover {
    display: block;
    color: rgb(59, 187, 148);
    text-decoration: none;
}

.block_product_icon a i {
    color: grey;
    margin-left: 10px;
}

.block_product_icon a:hover {
    
    text-decoration: none;
}
.block_product_icon a:hover i {
    color: rgb(59, 187, 148);
}
.block_product_info {
    padding-left: 10px;
    padding-right: 10px;
}

.block_product_img .btn {
    background-color: rgb(69, 238, 125);
    width: 200px;
}

.block_product_txt {
    max-width: 200px;
}

/* sidebar */
.product_sidebar h2 {
    font-size: 25px;
    border-bottom: 3px solid green;
}

.left-img-ad {
    width: 100%;
    margin-bottom: 10px;
}

/* product details */
.book_detail {
    border-bottom: 2px solid grey;
    margin-bottom: 20px;
}

.book_detail_pics_slide {
    width: 100%;
    height: 500px;
}

.book_detail_tit {
    color: #333;
    font-size: 25px;
    font-weight: 800;
    padding: 5px;
    margin-bottom: 20px;
}

.book_detail_pri {
    color: #333;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
}

.book_detail_txt {
    color: #333;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 20px;
}

.product_detail_item_quantity {
    width: 50px;
}

.product_detail_icon_mangXH {
    padding: 10px;
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

.product_detail_icon_mangXH a{
    color: gray;
    text-decoration: none;
    padding: 10px;
}

.product_detail_icon_mangXH a:hover{
    color: rgb(130, 177, 3);
    text-decoration: none;
    
}

.product_detail_frm {
    padding: 10px;
}

.select_wrapper {
    padding: 10px;
    margin-bottom: 10px;
}

.product_detail_btn .btn{
    width: 150px;
    color: #fff;
    font-size: 16px;
}

#add_to_cart {
    background-color: rgb(67, 130, 247);
}

#buy_now {
    background-color: rgb(130, 177, 3);
}

.mota_binhluan {
    margin-top: 20px;
    margin-bottom: 20px;
}

.user_avatar img{
    width: 30px;
    height: 30px;
}

.user_avatar a {
    color: black;
}

.user_input_comment {
    position: relative;
}

.user_input_comment img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
}

.user_input_comment textarea {
    width: 300px;
    border-radius: 2px;
    border: 1px solid rgb(177, 176, 176);
    margin-left: 40px;
}

.mota_binhluan h6 {
    font-size: 20px;
    color: rgb(65, 58, 58);
}